<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="body"> 
            <div id="chat-circle" class="btn btn-raised" >
                <div id="chat-overlay"></div>
                <i id = "icon" class="far fa-comments" style="font-size:25px"></i>
            </div>
        
            <div id="chat-box" class="chat-box" >
                <div class="chat-box-header">CHAT
                    <span id="chat-box-toggle" class="chat-box-toggle"><i class="material-icons">&times;</i></span>
                </div>
                <div class="chat-box-body">
                    <div class="chat-box-overlay"></div>
                    <div id="text-area" class="chat-logs">
                        <div id="received-area"></div>
                        <div id="sent-area"></div>
                    </div><!--chat-log -->
                </div>
                <div class="chat-input">
                    <input type="text" id="chat-input" placeholder="Send a message..."/>
                    <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
                    <audio id="swooshSound">
                        <source src="../assets/audio/sent.mp3" type="audio/mpeg">
                    </audio>    
                </div>
            </div>	  
        </div>	
        <!-- end of chatbox -->
    </body>
</html>
